<!DOCTYPE html>
<html ng-app="" >

<head>
<meta charset="UTF-8"> 
<meta name="description" content="Simulator for Vote">
<meta name="keywords" content="Simulator,Vote">
<meta name="author" content="Cheng-Yu Lin">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/simulator.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="./js/dashborad.js"></script>
<script>

var data = [
{"age":20,"No5":0,"No6":0.295,"No7":0.538,"NoComment":0.167,"pop":302633,"voterate":0.68 },
{"age":30,"No5":0.031,"No6":0.183,"No7":0.547,"NoComment":0.239,"pop":384349,"voterate":0.78 },
{"age":40,"No5":0.008,"No6":0.311,"No7":0.406,"NoComment":0.275,"pop":438306,"voterate":0.89 },
{"age":50,"No5":0,"No6":0.307,"No7":0.401,"NoComment":0.292,"pop":419795,"voterate":0.89 },
{"age":60,"No5":0,"No6":0.398,"No7":0.381,"NoComment":0.221,"pop":393467,"voterate":0.9 },
{"age":70,"No5":0,"No6":0.376,"No7":0.282,"NoComment":0.342,"pop":376245,"voterate":0.9 }
];
var gg = null;



  var app = angular.module('',[]);
  app.directive('dashboard',['d3Service',function(d3Service){
    var link = function(scope,elem,attrs){

          window.onfocus = function() {
            scope.$apply();
          };
          scope.$watch(
            scope.data,
            function(newData,oldData){
              console.log(newData);
              document.getElementById("dashboard").innerHTML="";
              dashboard('#dashboard',newData);
            }
          );
    };
    return {
      restrict:'AE',
      scope:"=",
      link:link(scope,elem,attrs)
    };

  }]);



function PieController($scope){

  $scope.show = function(){
    document.getElementById("dashboard").innerHTML="";
    dashboard('#dashboard',$scope.data);
  };
  $scope.reset = function(){
    $scope.data = angular.copy(window.data);
    document.getElementById("dashboard").innerHTML="";
    dashboard('#dashboard',$scope.data);
  }
  $scope.test=function(){
    console.log($scope.data);
  }
  $scope.data = angular.copy(window.data);
  $scope.parseInt = parseInt;
  dashboard('#dashboard',$scope.data);


}

</script>





</head>



<body ng-controller="PieController">

<div id='dashboard' dashboard>
</div>

<hr>
<button class="btn btn-success" ng-click="show()">
<span class="glyphicon glyphicon-user"></span> Update
</button>
<button class="btn btn-success" ng-click="reset()">
<span class="glyphicon glyphicon-user"></span> reset
</button>
<hr>




</div>

<div>
<table class="table">
  <thead><tr><th>age</th><th>馮光遠</th><th>柯文哲</th><th>連勝文</th><th>無表態</th><th>人數</th><th>投票率</th><th>No5支持人數(*)</th><th>No6支持人數(*)</th><th>No7支持人數(*)</th><th>不表態人數(*)</th></tr></thead>
  <tbody>
    <tr ng-repeat="y in data">
      <td ng-bind="y.age"></td>
      <td><input ng-model="y.No5" ng-change="test()"></td>
      <td><input ng-model="y.No6"></td>
      <td><input ng-model="y.No7"></td>
      <td><input ng-model="y.NoComment"></td>
      <td><input ng-model="y.pop"></td>
      <td><input ng-model="y.voterate"></td>
      <td>{{parseInt(y.No5*y.pop*y.voterate)}}</td>
      <td>{{parseInt(y.No6*y.pop*y.voterate)}}</td>
      <td>{{parseInt(y.No7*y.pop*y.voterate)}}</td>
      <td>{{parseInt(y.NoComment*y.pop*y.voterate)}}</td>
    </tr>
  </tbody>
</table>

</div>



</body>
</html>
